body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.context{
  background-color: rgb(220, 220, 200);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  width:70vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.context .title{
  font-size: 18pt;
  font-weight: 600;
  padding-top: 2rem;
  padding-left: 1rem;

}
.context .index{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

}
.context .index input{
  margin-left: 1rem;
  width:80%;
  height: 30px;
  font-size: 13pt;
  font-weight: 700;
  border-radius: 19px;
  padding-left: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  box-shadow: inset 0 0 0px #000000;
  border: 1px solid lightgray;
}
.context .index button{
  height: 37px;
  margin-left: .5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid lightgray;

  text-decoration: none;
  font-size: 15pt;
  background-color: #4CAF50;
  color:white;
  font-weight: 700;
  width:100px;
}
